<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caffeesys.cafesystem.shop.service.ContractMapper">
	<resultMap type="com.caffeesys.cafesystem.shop.service.Contract" id="resultContract">
		<result property="contractCode" column="contract_code" />
		<result property="contractOwnerName" column="contract_owner_name" />
		<result property="contractShopName" column="contract_shop_name" />
		<result property="contractOwnerPhone" column="contract_owner_phone" />
		<result property="contractStartDate" column="contract_start_date" />
		<result property="contractEndDate" column="contract_end_date" />
		<result property="contractPhoto" column="contract_photo" />
	</resultMap>
	<!-- 계약서등록 -->
	<insert id="insertContract" parameterType="com.caffeesys.cafesystem.shop.service.Contract">
		INSERT INTO contract (
			contract_code, contract_owner_name, contract_shop_name, contract_owner_phone
			, contract_start_date, contract_end_date, contract_photo
		) VALUES (
			#{contractCode}, #{contractOwnerName}, #{contractShopName}, #{contractOwnerPhone}
			, #{contractStartDate}, #{contractEndDate}, #{contractPhoto})
		<!-- date 유형변경 -->
	</insert>
	<!-- 계약서의 contract_code컬럼에서 글자말고, 숫자의 최대값 select -->
	<select id="selectContractMax" resultType="Integer">
		select max(CAST(substring(contract_code,6) AS DECIMAL))  
		from contract
	</select>
	<!-- 전체게약서조회 상세전-->
	<select id="selectContractList" resultMap="resultContract">
		SELECT contract_code, contract_owner_name, contract_shop_name, contract_start_date, contract_end_date
		FROM contract
	</select>
</mapper>
