<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caffeesys.cafesystem.shop.service.ShopMapper">
	<resultMap type="com.caffeesys.cafesystem.shop.service.ContractVo" id="resultShop">
		<result property="contractCode" column="contract_code" />
		<result property="contractOwnerName" column="contract_owner_name" />
		<result property="contractShopName" column="contract_shop_name" />
		<result property="contractOwnerPhone" column="contract_owner_phone" />
		<result property="contractStartDate" column="contract_start_date" />
		<result property="contractEndDate" column="contract_end_date" />
		<result property="contractPhoto" column="contract_photo" />
	</resultMap>
</mapper>