<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caffeesys.cafesystem.claim.service.ClaimMapper">
	<resultMap type="com.caffeesys.cafesystem.claim.service.ClaimReply" id="resultClaimReply">
		<result property="claimReplyCode" column="claim_reply_code"/>
		<result property="customerClaimCode" column="customer_claim_code"/>
		<result property="claimReplyContents" column="claim_reply_contents"/>
		<result property="employeeCode" column="employee_code"/>
		<result property="claimReplyDate" column="claim_reply_date"/>
	</resultMap>
	
	<select id="selectClaimReply" resultMap="resultClaimReply">
		SELECT * FROM customer_claim_reply where customer_claim_code = #{customerClaimCode}
		ORDER BY claim_reply_code desc
	</select>
	
	<insert id="insertClaimReply">
		INSERT INTO customer_claim_reply (claim_reply_code, customer_claim_code, claim_reply_contents, employee_code, claim_reply_date)
		VALUES (#{claimReplyCode}, #{customerClaimCode}, #{claimReplyContents}, #{employeeCode}, now())
	</insert>
	
	<update id="updateClaimReply">
		UPDATE customer_claim_reply SET claim_reply_contents = #{claimReplyContents}
		WHERE customer_claim_code = #{customerClaimCode}
	</update>
	
	<delete id="deleteClaimReply">
		DELETE FROM customer_claim_reply WHERE customer_claim_code = #{customerClaimCode}
	</delete>
	
</mapper>