<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caffeesys.cafesystem.employee.service.BranchManagerMapper">
 
	<!-- BranchManagerVO -->
	<resultMap type="com.caffeesys.cafesystem.employee.service.BranchManagerVO" id="resultBranchManager">
		<result property="branchEmployeeCode" column="branch_employee_code"/> <!-- 직원코드 -->
		<result property="localCategoryCode" column="local_category_code"/><!-- 지역코드 -->
		<result property="shopCode" column="shop_code"/><!-- 매장코드 -->
		<result property="positionCategoryCode" column="position_category_code"/><!-- 직급코드 -->
		<result property="branchEmployeeId" column="branch_employee_id"/><!-- 아이디 -->
		<result property="branchEmployeeName" column="branch_employee_name"/><!-- 이름 -->
		<result property="branchEmployeeBirth" column="branch_employee_birth"/><!-- 생년월일 -->
		<result property="branchEmployeePhone" column="branch_employee_phone"/><!-- 연락처 -->
		<result property="branchEmployeeAddress" column="branch_employee_address"/><!-- 주소 -->
		<result property="branchEmployeeCetificate" column="branch_employee_cetificate"/><!-- 보건증 -->
		<result property="branchManagerWorknum" column="branch_manager_worknum"/><!-- 사업자번호 -->
		<result property="branchManagerStart" column="branch_manager_start"/><!-- 사업시작일 -->
		<result property="branchManagerBank" column="branch_manager_bank"/><!-- 사업계좌은행명 -->
		<result property="branchManagerBanknum" column="branch_manager_banknum"/><!-- 사업계좌번호 -->
		<result property="shopName" column="shop_name"/><!--  점포명 -->
	</resultMap>
 
  <!-- ============================================================================================================================ -->
	
 	<!-- DB shop에서 매장 코드 가져오는 select -->
	<select id="selectBranchEmployeeShopCode" resultMap="resultBranchManager">
		SELECT DISTINCT shop_code
		FROM shop
	</select> 
	
	<!-- DB branch_employee에서 직원코드 숫자 최댓값 구하는 select -->
	<select id="selectBranchImployeeCodeMax" resultType="Integer">
		select max(CAST(substring(branch_employee_code,6) AS DECIMAL))  
		from branch_employee		
	</select>

	
	 <!-- DB(지점인사관리)에 등록 -->
	<insert id="insertBranchEmployee" parameterType="com.caffeesys.cafesystem.employee.service.BranchManagerVO">
		INSERT INTO branch_employee(
			branch_employee_code, 
			local_category_code, 
			shop_code, 
			position_category_code, 
			branch_employee_id, 
			branch_employee_name, 
			branch_employee_birth, 
			branch_employee_phone, 
			branch_employee_address, 
			branch_employee_cetificate
		) VALUES (
			#{branchEmployeeCode}, 
			#{localCategoryCode}, 
			#{shopCode}, 
			#{positionCategoryCode}, 
			#{branchEmployeeId}, 
			#{branchEmployeeName}, 
			#{branchEmployeeBirth}, 
			#{branchEmployeePhone}, 
			#{branchEmployeeAddress}, 
			#{branchEmployeeCetificate}
		)	
	</insert>
	
	<!-- DB(지점점주관리)에 등록 -->
	<insert id="insertBranchManager" parameterType="com.caffeesys.cafesystem.employee.service.BranchManagerVO">
	INSERT INTO branch_manager(
		branch_employee_code, 
		branch_manager_worknum, 
		branch_manager_start, 
		branch_manager_bank, 
		branch_manager_banknum
	) VALUES (
		#{branchEmployeeCode},  
		#{branchManagerWorknum}, 
		#{branchManagerStart}, 
		#{branchManagerBank}, 
		#{branchManagerBanknum}
	)
	</insert>	
	
	<!-- 점주리스트 코드,아이디,이름,생년월일 ,매장명 2중조인-->
	<select id="selectBranchManagerList" resultMap="resultBranchManager" parameterType="java.util.Map">
	SELECT 
		branch_employee.branch_employee_code,
		branch_employee.branch_employee_id,
		branch_employee.branch_employee_name,
		branch_employee.branch_employee_birth,
		branch_employee.local_category_code,
		branch_employee.shop_code,
		shop.shop_name
	
	FROM branch_employee INNER JOIN shop
	ON branch_employee.local_category_code = shop.local_category_code
	AND branch_employee.shop_code = shop.shop_code
	WHERE position_category_code = '201'
	ORDER BY branch_employee_code asc
	LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<!-- 점주 상세조회  3중조인-->
	<select id="selectBranchManagerDetail" resultMap="resultBranchManager">
	SELECT 
		branch_employee.branch_employee_code, 	
		branch_employee.branch_employee_id, 
		branch_employee.branch_employee_name, 
		branch_employee.branch_employee_birth,
		branch_employee.branch_employee_phone,
		branch_employee.branch_employee_address,
		branch_employee.branch_employee_cetificate,
		branch_manager.branch_manager_worknum,
		branch_manager.branch_manager_start,
		branch_manager.branch_manager_bank,
		branch_manager.branch_manager_banknum,
		shop.shop_name	

	FROM branch_employee  INNER JOIN shop 
	ON branch_employee.local_category_code = shop.local_category_code 
	AND branch_employee.shop_code = shop.shop_code
	INNER JOIN branch_manager 
	ON branch_employee.branch_employee_code = branch_manager.branch_employee_code
	WHERE branch_manager.branch_employee_code = #{branchEmployeeCode}
	</select>
	
	 <!-- DB(지점인사관리)에 삭제 -->
	<delete id="deleteBranchEmployee" parameterType="com.caffeesys.cafesystem.employee.service.BranchManagerVO">
		DELETE FROM branch_employee WHERE branch_employee_code=#{branchEmployeeCode}
	</delete>
	<!-- DB(지점점주관리)에 등록 -->
	<delete id="deleteBranchManager" parameterType="com.caffeesys.cafesystem.employee.service.BranchManagerVO">
		DELETE FROM branch_manager WHERE branch_employee_code=#{branchEmployeeCode}
	</delete>
	
	<!-- 점주 수정 폼에 들어갈 내용 조회  -->
	<select id="selectUpdateBranchManger" resultMap="resultBranchManager">
	SELECT 
		branch_employee.branch_employee_code, 	
		branch_employee.branch_employee_id, 
		branch_employee.branch_employee_name, 
		branch_employee.branch_employee_birth,
		branch_employee.branch_employee_phone,
		branch_employee.branch_employee_address,
		branch_manager.branch_manager_bank,
		branch_manager.branch_manager_banknum,
		shop.shop_name
		
	FROM branch_employee INNER JOIN branch_manager
	ON branch_employee.branch_employee_code = branch_manager.branch_employee_code
	INNER JOIN shop
	ON branch_employee.local_category_code = shop.local_category_code
	AND branch_employee.shop_code = shop.shop_code
	WHERE branch_employee.branch_employee_code = #{branchEmployeeCode}
	
	</select>
	
	<!-- 업데이트(1) 지점 인사관리 -->
	<update id="updateBranchEmployee" parameterType="com.caffeesys.cafesystem.employee.service.BranchManagerVO">
	UPDATE branch_employee
	SET
		branch_employee_id= #{branchEmployeeId},
		branch_employee_name= #{branchEmployeeName},
		branch_employee_birth= #{branchEmployeeBirth},
		branch_employee_phone= #{branchEmployeePhone},
		branch_employee_address= #{branchEmployeeAddress}
	WHERE 
		branch_employee_code = #{branchEmployeeCode}
	</update>
	
	<!-- 업데이트(2) 지점 점주 관리 -->
	<update id="updateBranchManger" parameterType="com.caffeesys.cafesystem.employee.service.BranchManagerVO">
	UPDATE branch_manager
	SET
		branch_manager_bank=#{branchManagerBank},
		branch_manager_banknum=#{branchManagerBanknum}
	WHERE 
		branch_employee_code = #{branchEmployeeCode}
	</update>
	
	<!-- 점주 총 명수 -->
	<select id="selectBranchMangerCount" resultType="Integer">
		SELECT count(*) FROM branch_manager
	</select>
</mapper>