<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.caffeesys.cafesystem.employee.service.BranchPersonnelMapper">
	<resultMap type="com.caffeesys.cafesystem.employee.service.BranchPersonnelVO" id="resultBranchPersonnel">
		<result property="branchEmployeeCode" column="branch_employee_code" /><!-- 직원코드 -->
		<result property="localCategoryCode" column="local_category_code" /><!-- 지역코드 -->
		<result property="shopCode" column="shop_code" /><!-- 매장코드 -->
		<result property="positionCategoryCode" column="position_category_code" /><!-- 직급코드 -->
		<result property="branchEmployeeId" column="branch_employee_id" /><!-- 아이디 -->
		<result property="branchEmployeeName" column="branch_employee_name" /><!-- 이름 -->
		<result property="branchEmployeeBirth" column="branch_employee_birth" /><!-- 생년월일 -->
		<result property="branchEmployeePhone" column="branch_employee_phone" /><!-- 연락처 -->
		<result property="branchEmployeeAddress" column="branch_employee_address" /><!-- 주소 -->
		<result property="branchEmployeeCetificate" column="branch_employee_cetificate" /><!-- 보건증 -->
		<result property="branchPersonnelJoin" column="branch_personnel_join" /><!-- 입사일 -->
		<result property="branchPersonnelSalary" column="branch_personnel_salary" /><!-- 월그 -->
		<result property="branchPersonnelBank" column="branch_personnel_bank" /><!-- 월급계좌은행명 -->
		<result property="branchPersonnelBanknum" column="branch_personnel_banknum" /><!-- 월급계좌번화 -->
		<result property="branchPersonnelContract" column="branch_personnel_contract" /><!-- 근로계약서 -->
		<result property="shopName" column="shop_name" /><!-- 점포명 -->

	</resultMap>
	
	<!-- DB shop에서 매장 코드 가져오는 select -->
	<select id="selectBranchEmployeeShopCode" resultMap="resultBranchPersonnel">
		SELECT DISTINCT shop_code
		FROM shop
	</select> 
	
	<!-- 직원,매니져 등록 -->
	<!-- DB(지점인사관리)에 등록 -->
	<insert id="insertBranchEmployee" parameterType="com.caffeesys.cafesystem.employee.service.BranchPersonnelVO">
		INSERT INTO branch_employee(
			branch_employee_code, 
			local_category_code, 
			shop_code, 
			position_category_code, 
			branch_employee_id, 
			branch_employee_name, 
			branch_employee_birth, 
			branch_employee_phone, 
			branch_employee_address, 
			branch_employee_cetificate
		) VALUES (
			#{branchEmployeeCode}, 
			#{localCategoryCode}, 
			#{shopCode}, 
			#{positionCategoryCode}, 
			#{branchEmployeeId}, 
			#{branchEmployeeName}, 
			#{branchEmployeeBirth}, 
			#{branchEmployeePhone}, 
			#{branchEmployeeAddress}, 
			#{branchEmployeeCetificate}
		)	
	</insert>
	
	<!-- DB(지점직원관리)에 등록 -->
	<insert id="insertBranchPersonnel" parameterType="com.caffeesys.cafesystem.employee.service.BranchPersonnelVO">
		INSERT INTO branch_personnel(
			branch_employee_code, 
			branch_personnel_join, 
			branch_personnel_salary, 
			branch_personnel_bank, 
			branch_personnel_banknum, 
			branch_personnel_contract
		) VALUES (
			#{branchEmployeeCode},
			#{branchPersonnelJoin},
			#{branchPersonnelSalary},
			#{branchPersonnelBank},
			#{branchPersonnelBanknum},
			#{branchPersonnelContract}
		)
	</insert>
	
	<!-- DB branch_employee에서 직원코드 숫자 최댓값 구하는 select -->
	<select id="selectBranchImployeeCodeMax" resultType="Integer">
		select max(CAST(substring(branch_employee_code,6) AS DECIMAL))  
		from branch_employee		
	</select>

	
</mapper>