<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caffeesys.cafesystem.employee.service.HeadEmployeeMapper">
	<resultMap type="com.caffeesys.cafesystem.employee.service.HeadEmployeeVO" id="resultHeadEmployee">
			<result property="headEmployeeCode" column="head_employee_code" /><!-- 직원코드 -->
			<result property="departmentCategoryCode" column="department_category_code" /><!-- 부서코드 -->
			<result property="headEmployeeId" column="head_employee_id" /><!-- 아이디 -->
			<result property="headEmployeeName" column="head_employee_name" /><!-- 이름 -->
			<result property="headEmployeeBirth" column="head_employee_birth" /><!-- 생년월일 -->
			<result property="headEmployeePhone" column="head_employee_phone" /><!-- 전화번호 -->
			<result property="headEmployeeAddress" column="head_employee_address" /><!-- 주소 -->
			<result property="headEmployeeJoin" column="head_employee_join" /><!-- 입사일 -->
			<result property="headEmployeeSalary" column="head_employee_salary" /><!-- 월급 -->
			<result property="bonusCategoryCode" column="bonus_category_code" /><!-- 상여금코드 -->
			<result property="headEmployeeBanknum" column="head_employee_banknum" /><!-- 월급계좌번호-->
			<result property="headEmployeeContract" column="head_employee_contract" /><!-- 근로계약서 -->
			<result property="cateDepartment" column="cateDepartment" /><!-- 부서명 -->
			<result property="cateBonus" column="cate_bonus" /><!-- 상여금 -->
	</resultMap>
	
	<!-- DB category에서 Department select -->
	<select id="selectDpartment" resultMap="resultHeadEmployee">
		SELECT deparcate.category_code as department_category_code, 
				deparcate.category_small as cateDepartment
		FROM category as deparcate
		WHERE deparcate.category_middle = 'Department'
	</select>
	
	<!-- DB category에서 Bonus select -->
	<select id="selectBonus" resultMap="resultHeadEmployee">
		SELECT bocate.category_code as bonus_category_code, 
				bocate.category_small as cate_bonus
		FROM category as bocate
		WHERE bocate.category_middle = 'Bonus'
	</select>
</mapper>