<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caffeesys.cafesystem.order.service.BranchOrderRequestMapper">
	<resultMap type="com.caffeesys.cafesystem.order.service.BranchOrderRequestVO" id="resultBranchOrderRequest">
		<result property="orderCode" column="order_code" /> <!-- 발주관리코드 -->
		<result property="statementNumber" column="statement_number" /> <!-- 전표번호 -->
		<result property="orderFaultyDivide" column="order_faulty_divide" /> <!-- 발주/불량구분-->
		<result property="localCategoryCode" column="local_category_code" /> <!-- 지역코드 -->
		<result property="shopCode" column="shop_code" /> <!-- 매장코드-->
		<result property="itemCode" column="item_code" /> <!-- 품목코드 -->
		<result property="cal" column="cal" /> <!-- 수량 가격 계산 -->
		<result property="orderAmount" column="order_amount" /> <!-- 수량 -->
		<result property="orderPrice" column="order_price" /> <!-- 가격 -->
		<result property="receiptCategoryCode" column="receipt_category_code" /> <!--접수상태코드 -->
		<result property="orderCategoryCode" column="order_category_code" /> <!-- 배송상태코드 -->
		<result property="orderRequest" column="order_request" /> <!-- 신청일 -->
		<result property="orderApproval" column="order_approval" /> <!-- 승인일 -->
		<result property="orderRelease" column="order_release" /> <!-- 출고일 -->
		<result property="headEmployeeCode" column="head_employee_code" /> <!-- 발주승인담당자 -->
		<result property="orderFaultyAble" column="order_faulty_able" /> <!-- 불량여부 -->
		<result property="branchEmployeeCode" column="branch_employee_code" /> <!-- 직원코드 -->
		<result property="cateReceipt" column="cateReceipt" /> <!-- 접수상태 명 -->
		<result property="cateOrder" column="cateOrder" /> <!-- 배송상태 명 -->
		<result property="shopName" column="shop_name" /> <!-- 매장 명 -->
		<result property="divideName" column="divideName" /> <!-- 발주상태 명 -->
		<result property="headName" column="headName" /> <!-- 발주승인담당자 명 -->
		<result property="itemName" column="itemName" /> <!-- 품목 명 -->
	</resultMap>
	
	<!-- DB branch_employee에서 지역매장코드 select -->
	<select id="seleteLocalShopCode" resultMap="resultBranchOrderRequest">
		SELECT local_category_code, shop_code
		FROM branch_employee
		WHERE branch_employee_code = #{branchEmployeeCode}
	</select>

	<!-- DB order에서 매장에 따른 발주내용  select -->
	<select id="selectOderRequestList" resultMap="resultBranchOrderRequest" parameterType="java.util.Map">
		SELECT DISTINCT
			OD.order_code, 
			OD.statement_number,
			OD.order_faulty_divide,
			st.statement_name as divideName,
			sh.shop_name,
			OD.order_amount, 
			OD.order_price, 
			OD.receipt_category_code, 
			cate.category_small as cateReceipt,
			OD.order_category_code, 
			categ.category_small as cateOrder,
			OD.order_request,
			OD.order_approval, 
			OD.order_release, 
			OD.head_employee_code, 
			OD.order_faulty_able,
			OD.local_category_code,
			OD.shop_code,
			head.head_employee_name as headName,
			it.item_name as itemName
	 
	FROM `order` as OD INNER JOIN category as cate   
		ON OD.receipt_category_code = cate.category_code
	LEFT JOIN category as categ
		ON OD.order_category_code = categ.category_code
	LEFT JOIN shop as sh
		ON OD.local_category_code = sh.local_category_code
		AND OD.shop_code = sh.shop_code
	LEFT JOIN statement as st
		ON st.statement_code = OD.order_faulty_divide
	LEFT JOIN head_employee as head
		ON OD.head_employee_code = head.head_employee_code
	LEFT JOIN item as it
		ON OD.item_code = it.item_code
	
	WHERE OD.local_category_code = #{localCategoryCode} AND OD.shop_code = #{shopCode}
		AND (OD.order_faulty_divide = 'C' 
		OR OD.order_faulty_divide = 'D' 
		OR OD.order_faulty_divide = 'E')
	
	GROUP BY OD.statement_number		
	</select>
	
	<!-- DB order에서 매장에 따른 상세발주내용  select -->
	<select id="selectOrderRequestDetail" resultMap="resultBranchOrderRequest">
		Select		
			od.order_code, 
			od.statement_number,
			od.order_faulty_divide, 
			st.statement_name as divideName,
			od.local_category_code, 
			od.shop_code, 
			od.item_code,
			it.item_name as itemName,
			od.order_amount, 
			od.order_price,
			od.receipt_category_code,
			catereceipt.category_small as cateReceipt,
			od.order_category_code, 
			cateorder.category_small as cateOrder,
			od.order_request, 
			od.order_approval, 
			od.order_release, 
			od.head_employee_code,
			he.head_employee_name as headName,
			od.order_faulty_able
			
		FROM `order` as od INNER JOIN statement as st
			ON od.order_faulty_divide = st.statement_code
		LEFT JOIN item as it
			ON  od.item_code = it.item_code
		LEFT JOIN category as catereceipt
			ON od.receipt_category_code = catereceipt.category_code
		LEFT JOIN category as cateorder
			ON od.order_category_code = cateorder.category_code
		LEFT JOIN head_employee as he
			ON od.head_employee_code = he.head_employee_code
		WHERE od.statement_number = #{statementNumber}
	
	</select>
	
	<select id="selectPrice" resultType="java.util.HashMap" parameterType="String">
		SELECT order_price
		FROM `order`
		WHERE statement_number = #{statementNumber}
	</select>
	
	<!-- 배송상태를 배송완료로 업데이트 -->
	<update id="upadateDeliveryOk" parameterType="com.caffeesys.cafesystem.order.service.BranchOrderRequestVO">
		UPDATE `order`
	SET
		order_category_code='711'
	WHERE  statement_number = #{statementNumber}
	</update>

</mapper>